<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productPage</title>
    <!-- boostrap- 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- stylles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prductlist.css">
</head>
<body>

  <style>
    .zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.1); 
}
.shado{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.shado:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

  </style>

    <!-- new product showing pages -->

    <!-- nav bar / header -->

    <nav class="navbar navbar-expand-lg d-flex shadow">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand logohome mx-auto" href="/">
                <span class="k">K</span>rithy
            </a>
    
            <!-- Navbar Toggler -->
            <button class="navbar-toggler shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container d-flex justify-content-center">
    
                    <!-- Search Bar -->
                    <!-- <form class="d-flex ms-3 justify-content-center" action="/search" method="get">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                      <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form> -->
                    <div class="container " >

                      <div class="input-group flex-nowrap my-2 " style="width: 250px">
                          <input type="text" class="form-control" placeholder="Search" id="searchInput" />
                          <button type="button" class="btn btn-primary" style="height: fit-content;"
                              onclick="search()">
                              <i class="fas fa-search"></i>
                          </button>
                      </div>

                  </div>
                    
                    
                    
                    
                </div>
                <ul class="navbar-nav ms-auto hamurgerToggle">
       
    
                    <!-- Cart Icon -->
                    <li class="nav-item me-2">
                      <a class="nav-link" href="/users/profile/cartItems">
                          <i class="fas fa-shopping-cart fa-lg" style="color: #050505;"></i>
                      </a>
                  </li>
  
                  <!-- Wishlist/Heart Icon -->
                  <li class="nav-item me-2">
                      <a class="nav-link" href="/users/profile/wishlist">
                          <i class="fa-regular fa-heart fa-lg" style="color: #080808;"></i>
                      </a>
                  </li>
  
                  <!-- User/Contact Icon -->
                  <li class="nav-item me-2">
                      <a class="nav-link" href="/users/profile">
                          <i class="fa-regular fa-user fa-lg" style="color: #0c0c0c;"></i>
                      </a>
                  </li>

                                                    <!-- logout button -->
          <% if (session) { %>
            <li class="nav-item">
              <div class="logout">
                <button id="logoutButton" class="btn bgtheme border rounded-2 hover-btn">
                  <a href="/logout" class="text-decoration-none text-white ">LOGOUT</a>
                </button>
              </div>
            </li>
        <% }else{%>
            <!-- login button -->
          <li class="nav-item">
            <form action="/login" method="post">
              <div class="login ">
                <button id="loginButton" class="btn bgtheme border rounded-2 hover-btn">
                  <a href="login" class="text-decoration-none text-white">LOGIN</a>
                </button>
              </div>
          </form>
          </li>
          <%}%>
<!-- login button -->
                </ul>
            </div>
        </div>
    </nav>
        <!-- nav bar / header == ending -->

        <!-- Filter -->
        
          
          <% if(listingName != null){%>
          <div>
            <h3 class="text-center mt-4 d-lg-none">
              <u class="color-G">
                <span class="text-black text-uppercase">
                  <%=listingName%>
                </span>
              </u>
            </h3>  
          </div>
          <%}%>

        <div class="mx-5 mt-5">
            <div class="row">
               <!-- Filter dropdown -->
                    <div class="dropdown col-6">
                      <button class="btn text-uppercase btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Filter
                      </button>
                      <ul class="dropdown-menu fs-6 text-uppercase" aria-labelledby="dropdownMenuButton1">
                          <% categories.forEach(category => { %>
                              <li><a class="dropdown-item" href="/categories?category=<%= category.name %>"><%= category.name %></a></li>
                          <% }); %>
                      </ul>
                    </div>


                <div class="dropdown col-6 d-flex justify-content-end">
                    <button class="btn text-uppercase btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Sorted By
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
               
                <a href=" /categories?category=newReleases" class="text-decoration-none">
                        <li>
                          <span class="dropdown-item" 
                            >New releases</span
                          >
                        </li>
                      </a>
                      <!--  -->
                      <a href=" /categories?category=ascending" class="text-decoration-none">
                        <li>
                          <span class="dropdown-item" 
                            >Price: Low to High</span
                          >
                        </li>
                      </a>
                      <!--  -->
                      <a href="/categories?category=descending" class="text-decoration-none">
                        <li>
                          <span class="dropdown-item" 
                            >Price: High to low</span
                          >
                        </li>
                      </a>
                     
                    </ul>
                </div>
            </div>
        </div>

        <!-- new release -->
        <div>
            <h3 class="text-center mt-4 d-lg-block d-none">
              <u class="color-G">
                <span class="text-black text-uppercase">
                  New Releases
                </span>
              </u>
            </h3>  
          </div>

          <% if(listing != null){ %>
            <div class="container ">
                <div class="row mt-3" id="productListContainer">
                    <% listing.forEach((product, i) => { %>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mt-3 mb-4">
                          <a href="/products/<%=product._id%>" class="text-decoration-none">
                            <div class="card shado zoom " style="width: 16rem;">
                              <div class="">
                                <img style="max-height: 270px; " class="card-img-top img-fluid" src="/img/books/<%= product.thumbnail %>" alt="Book image">
                              </div>
                                <div class="card-body">
                                  <div class="text-center">
                                    <span class="card-title text-center fs-6 fw-bold text-truncate d-inline-block" style="max-width: 200px;"><%=product.name%></span>
                                  </div>
                                    <div class="d-flex">
                                      <div class="m-auto gap-3">
                                        <span class="card-text text-success fw-bolder fs-3">₹<%= product.price%></span>
                                        <span class="card-text text-warning fw-bold"><del>₹<%= product.initialPrice %></del></span>
                                        <span class="card-text text-info"><%= product.discount %>%off</span>
                                    </div>
                                    </div>
                                    <p class="text-center">Rating: </p>
                                </div>
                            </div>
                          </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } %>
            <!-- pagination -->
            <!-- your existing html code ... -->
            <div class="d-flex justify-content-center mb-2">
              <% if (page > 1) { %>
                <label onclick="location.href='/categories?category=<%=category%>&page=<%= page - 1 %>'" style="cursor: pointer;">
                  <i class="bi bi-arrow-left-circle"></i>
                </label>
              <% } %>
              <span class="mx-3 shadow fw-bold">Page <%= page %></span>
              <% if (listing.length === itemsPerPage) { %>
                <label onclick="location.href='/categories?category=<%=category%>&page=<%= page + 1 %>'" style="cursor: pointer;">
                   <i class="bi bi-arrow-right-circle"></i>
                </label>
              <% } %>
            </div>
            
            



<!-- your existing html code ... -->



          <footer class="container-fluid bg-dark">
            <div class="row pt-5">
                <div class="col-4 d-flex justify-content-center">
                    <div class="container col-8">
                        <span class="color-main fw-bold ">ABOUT KRITHY</span>
                        <p class="text-center text-lg-start text-white">KRITHY Books started in 2023 by Muhammed Safvan kv [popularly known as KRITHY, 
                          publishing in India]</p>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="container col-8 justify-content-center ">
                        <span class="color-main fw-bold text-uppercase">links</span>
                        <div class="col-lg-3 col">
                            <a href="" class="">Authors</a>
                            <a href="">Wishlist</a>
                            <a href="">Cart</a>
                            <a href="">Shopping</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container col-8">
                        <span class="color-main fw-bold text-uppercase">follow us</span>
                        <p class="text-center text-lg-start">KRITHY Books started in 2023 by Muhammed Safvan kv [popularly known as KRITHY, 
                          publishing in India]</p>
                    </div>
                </div>
                <p class="mt-5 text-center text-light fst-italic">&copy; 2023 Krithy books. All rights reserved.</p>

            </div>
          </footer>
        


    
       <!-- boostrap-5 -->
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
       <!-- boostrap-5 -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
       integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
       crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="/js/search.js"></script>
</body>
</html>