<%- include('./layout/_header') %>

    <style>
        .bg-D9D9D9{
            background-color: #D9D9D9;
        }
 
            .scaled{
                max-width: 100px;
            }
            .scaled-main{
                max-width: 16rem;
                max-height: 22rem;
            }
    </style>
    
    <nav class="navbar navbar-expand-lg d-flex shadow">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand logohome mx-auto" href="/">
                <span class="k">K</span>rithy
            </a>
    
            <!-- Navbar Toggler -->
            <button class="navbar-toggler shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container d-flex justify-content-center">
    
                    <!-- Search Bar -->
                    <form class="d-flex ms-3">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
                <ul class="navbar-nav ms-auto hamurgerToggle">
                                             <!-- logout button -->
          <% if (session) { %>
            <li class="nav-item">
              <div class="logout">
                <button id="logoutButton" class="btn bgtheme border rounded-2 hover-btn">
                  <a href="/logout" class="text-decoration-none text-white ">LOGOUT</a>
                </button>
              </div>
            </li>
        <% }else{%> 
            <!-- login button -->
          <li class="nav-item">
              <div class="login ">
                <button id="loginButton" class="btn bgtheme border rounded-2 hover-btn">
                  <a href="/login" class="text-decoration-none text-white">LOGIN</a>
                </button>
              </div>
          </li>
          <%}%>
<!-- login button -->

    
                    <!-- Cart Icon -->
                    <li class="nav-item me-2">
                        <a class="nav-link" href="/users/profile/cartItems">
                            <i class="fas fa-shopping-cart fa-lg" style="color: #050505;"></i>
                        </a>
                    </li>
    
                    <!-- Wishlist/Heart Icon -->
                    <li class="nav-item me-2">
                        <a class="nav-link" href="/users/profile/wishlist">
                            <i class="fa-regular fa-heart fa-lg" style="color: #080808;"></i>
                        </a>
                    </li>
    
                    <!-- User/Contact Icon -->
                    <li class="nav-item me-2">
                        <a class="nav-link" href="/users/profile">
                            <i class="fa-regular fa-user fa-lg" style="color: #0c0c0c;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <!-- nav bar / header == ending -->     


        <!-- product view page userSide -->
        <% if(productDetails !=null){%>
        <div class="container mt-5 ">
            <div class="row justify-content-center "> 
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center flex-column mx-3 bg-white mb-2 ">
                            <div class="col-12 col-sm-6 col-md-4 ">
                                <a href="/img/books/<%=productDetails.thumbnail %>">
                                    <img class="img-fluid mt-2 scaled thumbimg thumbimgSize" src="/img/books/<%=productDetails.thumbnail %>">
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 ">
                                <a href="/img/books/<%=productDetails.images[0] %>">
                                    <img class="img-fluid mt-2 scaled thumbimg thumbimgSize" src="/img/books/<%=productDetails.images[0] %>">
                                </a>
                            </div>                    
                        </div>
                        <div class="mx-3 card mb-2 shadow zoom scaled-main" id="zoomC">
                            <img class="img-fluid mt-2" src="/img/books/<%=productDetails.images[0] %>" alt="" id="mainImg">
                        </div> 
                    </div>
                    <!-- You can put other elements for the remaining half of the screen on larger screens here -->
                </div>
                
                
                
                  
                
                        <hr>
                        <div class=" col-lg-11 col-md-10  bg-D9D9D9 border rounded-3">
                            <h5 class="text-center text-uppercase pt-1"><%=productDetails.name%></h5>
                            <hr>
                            <div class="d-md-flex">
                                <div class="col-md-6 col-sm-12 ">
                                    <ul class="list-unstyled">
                                        <div class="text-capitalize">
                                            <strong>rating:</strong>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                          </div>
                                          
                                        <li><small><strong>BY:</strong> <a href=""><%=productDetails.author.name%></a></small></li>
                                        <li><small><strong>Book :</strong> <%=productDetails.name%></small></li>
                                        <li><small><strong>Author:</strong> <a href=""><%=productDetails.author.name%></a></small></li>
                                        <li><small><strong>Category :</strong> <%=productDetails.category.name%></small></li>
                                        <li><small><strong>ISBN :</strong> <%=productDetails.bookISBN%></small></li>
                                        <li><small><strong>Publishing Date :</strong> <%=productDetails.Date%></small></li>
                                        <li><small><strong>Publisher :</strong> <%=productDetails.publisher%></small></li>
                                        <li><small><strong>Number of pages :</strong> <%=productDetails.numOfPages%></small></li>
                                        <li><small><strong>Language :</strong> <%=productDetails.language%></small></li>
                                    </ul>
                    
                                </div>
                                <div class="col-md-6 col-sm-12 bg-white border rounded-3 my-3 shadow">
                                <div class="mt-3">
                                    <span class="card-text text-success fw-bolder  fs-3 ps-3">₹<%=productDetails.price%></span>
                                    <span class="card-text text-warning fw-bold ps-2"><del>₹<%=productDetails.initialPrice%></del></span>
                                    <span class="card-text ps-2"><%=productDetails.discount%>%off</span>
                                    <button class="bg-transparent border-0 float-end pe-3" id="wishlistHeart"
                                    onclick="addToWishlist('<%=productDetails._id%>')"><i
                                      class="fa fs-5 fa-heart <%if(productsInWishlist==null){%>text-black<%}else{%>text-danger<%}%> "></i>
                                    </button>
                                  </div>
                                  <hr>
                                  <div class="ps-3 text-capitalize">
                                    <p><strong>Delivary Status:</strong><small>&nbsp; Free Delivary</small></p>
                                    <!-- <p id="stockCheck"><strong>Stock:</strong><small class="text-success">&nbsp; <%=productDetails.stock%></small></p> -->
                                    <% if(productDetails.stock == '0') { %> 
                                        <p class="text-danger" style="font-weight: bold;margin-top: 10px;">OUT OF STOCK</p>
                                        <p id="singleStockCheck" hidden><%= productDetails.stock %></p>
                                    <% }else{ %>
                                      <p><span class="fw-bold">Stock</span>:<%= productDetails.stock %></p>
                                      <% } %>
                                    
                                    <!-- <a href="" class="border-3 text-black border border-3 btn"><small>add to wishlist</small> </a> -->
                                    <!-- <button class="bg-transparent border-0" id="wishlistHeart"
                                    onclick="addToWishlist('<%=productDetails._id%>')"><i
                                      class="fa fs-5 fa-heart <%if(productsInWishlist==null){%>text-black<%}else{%>text-danger<%}%> "></i>
                                    </button> -->
                                    <div class=" text-capitalize my-4 gap-4 d-flex">
                                        <!-- <a href="" class="btn color-bg-main text-white">add to cart</a> -->
                                        <div id="addToCart"
                                        class="btn color-bg-main text-white"
                                        onclick="addToCart('<%=productDetails._id%>')">
                                        <span style="font-size: 0.8rem;">Add to cart</span>
                                      </div>
                                        <!-- <a href="/users/directCheckout?stock=<%=productDetails.stock%>&&id=<%=productDetails._id%>"  class="btn color-bg-main text-white">buy now</a> -->
                                        <a onclick="singlecheckOut()" type="submit" class="btn color-bg-main text-white" >Buy Now</a>
                                      </div>
                                  </div>
                                
                                </div>
                                
                            </div>
                            
                        </div>
             
            </div>
            <%}%>
        </div>


        <!-- review page -->
        <div class="container mt-5">
            <div class="row">
                <!-- Review form -->
                <div class="col-md-6">
                    <h3>Leave a review</h3>
                    <form id="reviewForm">
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" id="productName">
                        </div>
                        <div class="form-group">
                            <label for="reviewTitle">Review Title</label>
                            <input type="text" class="form-control" id="reviewTitle">
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <div id="rating" class="mb-3">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary d-flex justyfy">Submit</button>
                    </form>
                </div>
                
                <!-- Submitted reviews -->
                <div class="col-md-6">
                    <h3>Submitted Reviews</h3>
                    <div id="reviews">
                        <!-- The submitted reviews will be appended here -->
                    </div>
                </div>
            </div>
        </div>

    
<script src="/js/imageZoom.js"></script>
            
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- <i id="wishlistButton" class="far fa-heart"></i> -->
        <%-include('./layout/_footer')%>
        