
<%- include('../layouts/_header') %>

<%- include('../layouts/profileSearchBar') %>
          <div class="pt-2">
            <span class="text-black text-capitalize fs-4 fw-bolder">My Profile</span>
              <!-- profile add -->
            <div class="float-end col-1">
             <div class="profilePage border rounded-3  no-cursor" style="background-image: url('/img/users/<%=currentUser.photo%>');">
             </div>     
            </div>
          </div>
          <small class="fw-bold">Your Cart items will showup here</small>
          <hr>
    
              
              <div class="col-12"> 
                  <% if(userCart != null && userCart.products.length != 0) { %> 
                      <% userCart.products.forEach((product, i) => { %>
                          <div class="row d-flex bg-black rounded my-2 p-3 bg-info cartbox" style="border: 1px solid #beb2c0;background: linear-gradient(316deg, #a0949d 0%, #879092 74%) !important;">
                              <div class="col-4 col-md-2 prod-img text-center " style="">
                                  <img src="/img/books/<%=product.name.thumbnail%>" class="img-fluid" alt=""  />
                              </div>
                              <div class="col-lg-8 prod-details flex-grow-1 flex-column justify-content-between">
                                  <h5><a href="/products/<%= product.name._id %>" style="color: rgb(255, 255, 255) !important;"><%= product.name.name %></a></h5>
                                  <h6 class="text-white"><%= product.name.author.name %></h6>
                                  <div class="d-flex gap-3">
                                    <span style="text-transform: none; font-size: 0.85rem; font-weight: 700">Price:
                                    <span class="text-success fs-5"> ₹<%= product.name.price %></span>
                                    </span>
                                    <span style="text-transform: none; font-size: 0.85rem; font-weight: 700" class="text-warning fs-5">
                                        <del> ₹<%= product.name.initialPrice %></del>
                                    </span>  
                                  </div>
                                  <% if(product.name.stock == '0') { %> 
                                      <p class="text-danger" style="font-weight: bold;margin-top: 10px;">OUT OF STOCK</p>
                                      <p id="stockCheck" ><%= product.name.stock %></p>
                                  <% } %>
                                  <div class="d-flex justify-content-end mt-2">
                                      <div class="counter d-flex p-1 align-items-center rounded mx-4">
                                          <button class="btn btn-sm btn-light button-div" id="minusBtn<%= i %>" style="background-color: transparent" onclick='changeCount("<%= product.name._id %>","<%= i %>",-1)'>
                                              <i class="fa fa-minus"></i>
                                          </button>
                                          <span id="cartCount<%= i %>" class="fw-bold px-2"><%= product.quantity %></span>
                                          <button class="btn btn-sm btn-light button-div" style="background-color: transparent" onclick='changeCount("<%= product.name._id %>","<%= i %>",1)'>
                                              <i class="fa fa-plus h-100"></i>
                                          </button>
                                      </div>
                                      <div class="d-flex align-items-center">
                                          <button class="btn button-div btn-sm text-white " style="background-color: rgb(88, 11, 11);">
                                              <span style="font-size: 0.8rem; letter-spacing: 1px;" onclick="removeFromCart('<%= product.name._id %>')">Remove</span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      <% }) %>
                  
              </div>
            <div class="d-flex justify-content-center position-sticky sticky-bottom">
            <div class="col-9 my-3 sticky-checkout  "> 
                <div class="order-summary rounded-top-2 p-3 d-flex flex-column text-white" style="border: 1px solid #2b152e; font-size: 0.9rem;background: linear-gradient(316deg, #a0949d 0%, #879092 74%) !important;">
                    <div class="d-flex justify-content-between p-1 text-white">
                          <span>Total items:</span>
                          <span id="totalItems"><%=userCart.totalQuantity%></span>
                    </div>
                    <div class="d-flex justify-content-between p-1">
                          <span>Products:</span>
                          <span id="totalProducts"><%=userCart.products.length%></span>
                    </div>
                    <div class="d-flex justify-content-between p-1">
                          <span>Price:</span>
                          <span id="totalPrice">₹ <%=userCart.totalPrice%></span>
                    </div>
                </div>
                <div class="order-summary rounded-bottom-2 p-3 d-flex bg-white justify-content-center" style="border: 1px solid #2b152e; font-size: 0.9rem;">
                      <a onclick="checkOut()" type="submit" class="text-white btn color-bg-main w-25 ">Checkout</a>
                </div>
                  <% } else { %>
                <h5 class="text-center my-4 fw-light">No products on your cart yet.</h5>
                <div class="text-center my-4 fw-bold">
                    <a href="/categories?category=newReleases" class="fst-italic">Continue shopping <i class="fa fa-arrow-right"></i></a>
                </div>
                <% } %>
            </div>
            </div>
      
    </div>

  </div>
</div>

  
<%- include('../layouts/_footer') %>