<%- include('../layouts/_header') %>
  <style>
.cpnBtn {
    border: 1px solid #7158fe;
    background: #fff;
    padding: 5px 10px; /* Adjust padding for aesthetics */
    color: #7158fe;
    cursor: pointer;
     /* Add some spacing between the code and button */
}
.coupon-card{
    background: linear-gradient(135deg, #7158fe, #9d4de6);
    color: #fff;
    /* text-align: center; */
    /* padding: 40px 80px; */
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    /* position: relative; */

}

.cpnCode {
    border: 1px dashed #a3a3a8;
    padding: 5px 10px;
    color: #7158fe; /* Adjust color to make it more visible */
}

.coupon-row {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the items horizontally */
    /* margin: 15px auto; */
}

  </style>

  <div class="">

    <div class="container row mx-auto mb-5 bg-profile mt-5 rounded-3"><!-- main div  -->
      <div class=" text-center py-3 mb-3">
        <span class="shadow-heading fw-bold fs-2 text-italic k">Order Summary</span>
      </div>
      <div class="col-lg-8">
        <% let canOrder=true; %>

          <div class="all-products rounded p-3 bg-white">
            <h6 class=" pb-2">Products</h6>
            <% if(products !=null){ %>
              <%products.forEach((product,i)=> {%>

                <!-- Checking if the quantity exceeds the stock -->
                <% if(product.quantity> product.name.stock) { %>
                  <% canOrder=false; %>
                    <div class="alert alert-danger my-2">
                      Sorry, you can't order <%= product.quantity %> units of <%= product.name.name %>. Only <%=
                            product.name.stock %> in stock.
                    </div>
                    <% } %>

                      <div class="product-details d-flex justify-content-between pb-1 px-5"
                        style="border-bottom: 1px solid #635d5d">
                        <span class="col-1">
                          <%=i+1%>.
                        </span>
                        <span class="flex-grow-1 mx-3 col-6">
                          <%=product.name.name%>
                        </span>
                        <span class="col-2"><span style="text-transform: none;">x</span>
                          <%=product.quantity%>(nos)
                        </span>
                        <span class="mx-5 col-3">₹ <%=product.price%></span>
                      </div>
                      <%})%>
                        <%}%>
          </div>

          <!-- shipping Address -->
          <div class="addresses rounded-top-3 p-3 mt-3 bg-white">
            <h6 class=" pb-2">Shipping address</h6>

            <% if(defaultAddress !=0){%>
              <span style="text-transform: None;">
                <%=defaultAddress.building%></br>
                  <%=defaultAddress.address%> - <%=defaultAddress.pincode%></br>
                      <%=defaultAddress.country%></br>
              </span>
              <div class="d-flex justify-content-between mt-2">
                <span style="font-size: 0.85rem;text-transform: None;">
                  Alternate No: <%=defaultAddress.contactNumber%>
                </span>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                  style="font-size: 0.7rem; letter-spacing: 2px;background: linear-gradient(316deg, #440935 0%, #063947 74%);color: #bbe917;">
                  Change Address
                </button>
              </div>
              <form action="/users/profile/cart/checkout" method="post" id="formID">
                <input type="text" name="addressID" value="<%=defaultAddress._id%>" hidden>
                <%}else{%>
                  <h6 class="text-danger mt-3" style="text-transform: none;">You have not added any addresses.</h6>
                  <a class="my-2 btn btn-sm btn-dark text-white" href="/users/profile/manageAddress"
                    style="font-size: 0.7rem; letter-spacing: 2px;">
                    Add an Address
                  </a>
                  <%}%>
          </div>
          <!-- payment method -->
          <div class="addresses rounded-bottom-3 p-3 mb-3 bg-white">
            <hr>
            <h6 class=" pb-2">Mode of Payment</h6>
            <!-- stripe gateway -->
            <div class="form-check d-flex align-items-center" style="font-size: 0.85rem;">
              <input class="form-check-input" type="radio" name="paymentMethod" value="RazorPay" id="flexRadioDefault3">
              <label class="form-check-label mx-2" for="flexRadioDefault3"><b><img src="/img/payment/razorpay-icon.svg"
                    style="width: 40px;background-color: aliceblue;height: 20px;" alt=""> RazorPay</b>
              </label>
            </div>
            <div class="form-check d-flex align-items-center" style="font-size: 0.85rem;">
              <input class="form-check-input" type="radio" name="paymentMethod" value="COD" id="flexRadioDefault1" checked>
              <label class="form-check-label mx-2 fw-bold" for="flexRadioDefault1">
                Cash on delivery
              </label>
            </div>

          </div>
      </div>
      <!-- ======== -->
      <div class="col-lg-4">
        <div class="order-summary rounded p-3 my-3 d-flex flex-column bg-white">
          <div class="mb-2">
            <input type="text" class="form-control" id="couponCode" placeholder="Coupon Code" name="couponCode"
              style="background-color: #c4c1c1;" />
          </div>
          <!-- ======== edit here -->
         <div id="offer d-flex" hidden>
            <% if(coupons!=null){ %>
              <% coupons.forEach((coupon,i)=> {%>
                <div class=" align-items-center mb-2">
                  <input class="offerInput" style="width: 5%;" type="radio" id="<%= coupon._id %>" name="offer"
                    onchange="offerCheck('<%= coupon._id %>')" value="<%= coupon.code %>"> 
                    
                    <di class="coupon-row">
                      <span class="cpnCode"><%= coupon.code %></span>
                      <span class="text-success">
                        <%= coupon.discount %>% off
                      </span>
                      <span class="cpnBtn">Copy</span>
                  </di>
                  
                   
                  <label for="<%= coupon._id %>">
                    <span class="text-danger"><%= coupon.code %></span>
                    <span class="text-success">
                      <%= coupon.discount %>% off
                    </span>
                  </label>
                </div>

                <%})%>
                  <%}%>
          </div>
          <!-- ===== -->
          <div id="offer" class="d-flex flex-wrap coupon-card">
            <% if(coupons!=null){ %>
              <% coupons.forEach((coupon,i)=> {%>
                <div class="col-lg-6 col-md-6 my-2" id="couponScratch">
                  <!-- <input class="offerInput" style="width: 5%;" hidden id="<%= coupon._id %>" name="offer"
                    onchange="offerCheck('<%= coupon._id %>')" value="<%= coupon.code %>">  -->
                  <div class="">
                    <div class="coupon-row" >
                      <span class="cpnCode text-white"><%= coupon.code %></span>
                      <span class="cpnBtn ">Copy</span>
                    </div>
                  </div>
                </div>
              <%})%>
            <%}%>
          </div>
          
          
          <!-- #coupon div -->
          <!-- <div class="d-flex align-items-center mt-3">
            <button class=" btn btn-sm btn-success text-center" onclick="checkCoupon(event)"
              style="width: 50px;height: 25px;font-size: small;">Apply</button>
            <span id="couponMessage" class=" px-2 rounded m-2">
            </span>
          </div> -->
          <div class="d-flex align-items-center mt-3">
            <button class="btn btn-sm btn-success" onclick="checkCoupon(event)">Apply</button>
            <span id="couponMessage" class="px-2 rounded m-2"></span>
        </div>
        
        </div>
        <!-- place order div -->
        <div class="order-summary  p-3 rounded-top-3 d-flex flex-column bg-white">
          <div class="d-flex justify-content-between p-1">
            <span>Total items:</span>
            <span id="totalItems">
              <%=userCart.totalQuantity%>
            </span>
          </div>
          <div class="d-flex justify-content-between  p-1">
            <span>Price:</span>
            <span>₹ <%= userCart.totalPrice%></span>
          </div>
          <div class="d-flex justify-content-between  p-1">
            <span>Discount Price:</span>
            <div>
              ₹<span id="couponDiscount"> 0</span>
            </div>
          </div>
          <input type="number" name="couponDiscount" value="" id="inputCouponDiscount" hidden>
          <div class="d-flex justify-content-between fw-bold p-1">
            <span>Final Price:</span>
            <div>
              ₹<span id="finalPrice">
                <%= userCart.totalPrice%>
              </span>
            </div>
          </div>
          <input type="number" name="finalPrice" value="<%= userCart.totalPrice%>" id="inputFinalPrice" hidden>
        </div>
        <div class="order-summary mb-5 rounded-bottom-3 p-3 d-flex flex-column bg-white" style=" font-size: 0.9rem;">
          <button type="submit" onclick="return payment(event)" <% if(!canOrder || defaultAddress=="0" ){ %>disabled<% }
              %> style="background-color: #FF4031;" class="text-white btn ">Place Order</button>
        </div>
        <!--  -->
        </form>
      </div>
    </div>
    <!-- Address Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-white" style="font-size: 0.9rem;">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Change default Address</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!--  -->
          <div class="modal-body">
            <%if(allAddresses!=null){%>
              <form action="/users/changeDefaultAddress" method="post">
                <% allAddresses.forEach((address,i)=> { %>
                  <div class="form-check d-flex align-items-center rounded mb-2" style="border: 1px solid #dbdbdb;">
                    <input class="form-check-input mx-2" type="radio" name="DefaultAddress" id="radio<%=i+1%>"
                      value="<%=address._id%>">
                    <label class="form-check-label m-2" for="radio<%=i+1%>">
                      <span style="text-transform: None;">
                        <%=address.building%></br>
                          <%=address.address%> - <%=address.pincode%></br>
                              <%=address.country%></br>
                      </span>
                      <span style="font-size: 0.85rem;text-transform: None;">
                        Alternate No: <%=address.contactNumber%>
                      </span>
                    </label>
                  </div>
                  <%})%>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <a href="/users/profile/manageAddress" class="btn btn-sm  text-white"
              style="font-size: 0.85rem;text-transform: none; letter-spacing: 0px;background-color: rgb(29, 85, 23);">Add
              new address</a>
            <div>
              <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-sm btn-primary text-white">Set as default</button>
            </div>
            </form>
            <!--  -->
            <%}%>
          </div>
        </div>
      </div>
    </div>

  </div>


  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>

    function offerCheck(id) {
      $.ajax({
        url: "/users/profile/cart/checkout/offer/" + id,
        method: "get",
        success: (res) => {
          $("#couponDiscount").html(res.data.discountPrice);
          $("#inputCouponDiscount").val(res.data.discountPrice);
          $("#finalPrice").html(res.data.finalPrice);
          $("#inputFinalPrice").val(res.data.finalPrice);

        }
      })

    }

  </script>

<script>
 var cpnBtns = document.querySelectorAll(".cpnBtn");
var cpnCodes = document.querySelectorAll(".cpnCode");

cpnBtns.forEach((btn, index) => {
  btn.addEventListener('click', function() {
    navigator.clipboard.writeText(cpnCodes[index].innerHTML);
    btn.innerHTML = "COPIED";
    setTimeout(function() {
      btn.innerHTML = "Copy";
    }, 3000);
  });
});

</script>
<!-- <script>
   var cpnBtn = document.getElementsByClassName("cpnBtn");
            var cpnCode = document.getElementsByClassName("cpnCode");

            cpnBtn.onclick = function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
                cpnBtn.innerHTML ="COPIED";
                setTimeout(function(){
                    cpnBtn.innerHTML="COPY CODE";
                }, 3000);
            }
</script>
 -->
  <%- include('../layouts/_footer') %>