
<%- include('../layouts/_header') %>

      <%- include('../layouts/profileSearchBar') %>
        <!--  -->
          <% if(currentUser){%>
            <div class=" pt-2">
              <span class="text-black text-capitalize fs-4 fw-bolder">My Profile</span>
              <!-- profile photo -->
              <form action="" method="post" enctype="multipart/form-data" class="col-1 float-end">
                <div class="">
                  <div class="profilePage border rounded-3  d-flex justify-content-center align-items-center"
                    id="profile-pic" style="background-image: url('/img/users/<%=currentUser.photo%>');">
                  </div>
                  <input type="file" id="upload" style="display: none;" placeholder="photo" name="photo">
                  <button id="crop" style="display: none;">Crop</button>
                  <div id="preview"></div>
                  <div class="d-flex mt-2">
                    <div class="modal-footer" id="modal-footer" style="display: none;">
                      <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal"
                        id="close">Close</button>
                      <button type="submit" class="btn btn-primary" id="save">Save</button>
                    </div>
                  </div>
                </div>
              </form>
              <!--  -->
            </div>
            <!--  -->

            <small><span class="fw-bold">Personal Information</span></small>
            <hr>

            <div class="mb-3">
              <div class="row g-2">
                <div class="col-md-7">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder=""
                      value="<%= currentUser.username %>">
                    <label for="floatingInputGrid">Full name</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-floating">
                    <input type="number" name="number" class="form-control" id="floatingInputGrid" placeholder=""
                      value="<%= currentUser.number %>">
                    <label for="floatingInputGrid">Phone</label>
                  </div>
                </div>

              </div>
            </div>
            <div class="mb-3">
              <div class="row g-2">
                <div class="col-md-7">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="" name="email"
                      value="<%= currentUser.email %>">
                    <label for="floatingInputGrid">Email Address</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row g-2">
                <div class="col-md-2">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="floatingInputGrid" placeholder="" name="age"
                      value="<%= currentUser.age %>">
                    <label for="floatingInputGrid">Age</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="" name="landMark"
                      value="<%= currentUser.landMark %>">
                    <label for="floatingInputGrid">Land Mark</label>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->

            <!--  -->
            <!-- 📲 -->
            <% let hasPrimaryAddress=false; currentUser.addresses.forEach(function(address) { if(address.primary) {
              hasPrimaryAddress=true; } }); currentUser.addresses.forEach(function(address) { if(address.primary) { %>
              <!-- Displaying the primary address -->
              <div class="mb-3">
                <div class="row g-2">
                  <div class="col-md-8 ">
                    <div class="form-floating">
                      <textarea class="form-control shadow mb-3" disabled style="height: 10rem;"><%= `${address.building}\n${address.address}\n${address.pincode}\n${address.country}\n${address.contactNumber}` %>
                                </textarea>
                      <label for="floatingInputGrid" class="">Address🧳</label>
                    </div>
                  </div>
                </div>
              </div>
              <%}}); if(!hasPrimaryAddress) { %>
                <a href="/users/profile/manageAddress" class="fw-bold text-danger text-decoration-none" style="text-transform: none;">You have not set any default address.</a href="/users/profile/manageAddress">
                <% } %>


                  <div class="d-flex mb-3 justify-content-center">
                    <button type="submit" class="btn  logbtn fw-bold text-white" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">
                      Update Profile
                    </button>
                  </div>
                  <!-- Button trigger modal -->


                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Update your Profile</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/users/profile" method="post">
                            <div class="mb-3">
                              <input type="text" class="form-control" id="username" placeholder="Full Name"
                                name="username" value="<%= currentUser.username %>" />
                            </div>
                            <!--  -->
                            <div class="mb-3">
                              <input type="number" class="form-control" id="age" placeholder="Age" name="age"
                                value="<%= currentUser.age %>" />
                            </div>
                            <!--  -->
                            <div class="mb-3">
                              <input type="text" class="form-control" id="landMark" placeholder="landMark"
                                name="landMark" value="<%= currentUser.landMark %>" />
                            </div>
                            <!--  -->
                            <div class="mb-3">
                              <input type="number" class="form-control" id="contactNumber" placeholder="contact Number"
                                name="number" pattern="0*[1-9][0-9]{9}"
                                title="Please enter exactly 10 digits and should not start with 0"
                                value="<%= currentUser.number %>" />
                            </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn logbtn fw-bold text-white">Save</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>

    </div>
    <%}%>
  </div>

  <%- include('../layouts/_footer') %>