<%- include('../layouts/_header') %>


  
<div class="container">
  <div class="row mt-5">
    <!--  -->
    <%- include('../layouts/profileSearchBar') %>
        <!--  -->
      <div class="col-lg-8 rounded-3 bg-profile ms-3">
        <% if(currentUser){%>
          <div class=" pt-2">
              <span class="text-black text-capitalize fs-4 fw-bolder">My Profile</span>
              <!-- profile add -->
              <div class="float-end col-1">
                <img src="/img/profile/Frame 36.png" id="profile-pic" class="img-fluid" alt="" style="cursor: pointer;">
                <input type="file" id="upload" style="display: none;">
                <button id="crop" style="display: none;">Crop</button>
                <div id="preview"></div>
                <button id="save" style="display: none;">Save</button>
            </div>
            
            <!--  -->
            
          </div>
          <!--  -->
          
          <small><span class="fw-bold">Personal Information</span></small>
          <hr>
          
          <div class="mb-3">
              <div class="row g-2">
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" placeholder="" value="<%= currentUser.username %>">
                      <label for="floatingInputGrid">Full name</label>
                    </div>
                  </div>
                  <div class="col-md">
                      <div class="form-floating">
                        <input type="number" name="phone" class="form-control" id="floatingInputGrid" placeholder="" value="<%= currentUser.phone %>">
                        <label for="floatingInputGrid">Phone</label>
                      </div>
                    </div>
                   
                </div>
          </div>
          <div class="mb-3">
              <div class="row g-2">
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="floatingInputGrid" placeholder="" name="email" value="<%= currentUser.email %>">
                      <label for="floatingInputGrid">Email Address</label>
                    </div>
                  </div>
                  <div class="col-md">
                      <div class="form-floating">
                        <input type="date" class="form-control" id="floatingInputGrid" placeholder="" value="">
                        <label for="floatingInputGrid">Date of Birth</label>
                      </div>
                    </div>
                   
                </div>
          </div>
          <div class="mb-3">
              <div class="row g-2">
                  <div class="col-md-3">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" placeholder="" name="age" value="">
                      <label for="floatingInputGrid">Age</label>
                    </div>
                  </div>
                  <div class="col-md-5">
                      <div class="form-floating">
                        <input type="number" class="form-control" id="floatingInputGrid" name="pinCode" placeholder="" value="<%= currentUser.addresses.pincode %>">
                        <label for="floatingInputGrid">Pin Code</label>
                      </div>
                    </div>
                   
                </div>
          </div>
          <!--  -->
          <div class="mb-3">
            <div class="row g-2">
                <div class="col-md-3">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="" name="place" value="">
                    <label for="floatingInputGrid">Place</label>
                  </div>
                </div>
                <div class="col-md-5">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" placeholder="" name="landMark" value="">
                      <label for="floatingInputGrid">Land Mark</label>
                    </div>
                  </div>
                 
              </div>
        </div>
        <!--  -->
        <div class="mb-3">
          <div class="row g-2 ">
              <div class="col-md-8 ">
                  <div class="form-floating">
                      <input type="text" class="form-control floatingAddress" id="floatingInputGrid" name="address" placeholder="123 Main St, Anytown, Anywhere">
                      <label for="floatingInputGrid" class="">Address</label>
                  </div>
              </div>
          </div>
      </div>
      <!--  -->

      <div class="d-flex mb-3 justify-content-center">
        <button type="submit" class="btn col-2 logbtn fw-bold text-white">SAVE</button>      </div>
      
    </div>
   
  </div>
  <%}%>
</div>










<%- include('../layouts/_footer') %>